{% extends 'misitio/base.html' %}
{% block content %}

    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="col-sm-6">
                <form class="form-inline" action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <label class="sr-only" for="inlineFormInputName2">Nombre</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                           placeholder="Nombre" name="fname">

                    <label class="sr-only" for="inlineFormInputName2">Apellido</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                           placeholder="Apellido" name="lname">


                    <button type="submit" class="btn btn-secondary mb-2">Contame un chiste!</button>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <h5 class="card-title">Chiste</h5>
                        <p class="card-text">
                            {{ joke }}
                        </p>
                        <a href="{% url 'portfolio' %}" class="card-link">No olvides de pasar por mi portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}