{%  extends 'misitio/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="{% static 'misitio/images/raspberry-consola.jpg' %}" alt="proyecto consola videojuegos raspberry">
                <div class="card-body">
                    <h5 class="card-title">Creá tu consola de videojuegos!</h5>
                    <p class="card-text">Con una pantalla de 7’’, una raspi, 6 botones, 1 mando y maderas encastrables podemos crear nuestra propia consola de videojuegos. ¿Qué estás esperando para construir la tuya?
                    </p>
                    <p class="card-text">
                        <small class="text-muted">www.hipertextual.com/2018/07/consola-videojuegos-raspberry-instrucciones</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'misitio/images/alternativas-raspberri-pi.jpg' %}" alt="proyecto pasapáginas automático raspberry">
                <div class="card-body">
                    <h5 class="card-title">Pasapáginas automático</h5>
                    <p class="card-text">Una rueda de coche de Lego, una Raspberry Pi y una servomotor pueden ser suficientes para pasar las páginas de un libro</p>
                    <p class="card-text">
                        <small class="text-muted">www.dexterindustries.com/BrickPi/brickpi-tutorials-documentation/projects/brickpi-bookreader-2/</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'misitio/images/ordenador-portatil.jpg' %}" alt="proyecto ordenador portatil raspberry">
                <div class="card-body">
                    <h5 class="card-title">Ordenador Portátil</h5>
                    <p class="card-text">Este es uno de los proyectos Raspberry Pi más originales diseñado por los chicos de Pi-Top. Se les ocurrió la brillante idea de crear un ordenador portátil y un ordenador de escritorio usando únicamente una Raspberry Pi y una impresora 3D. Realizaron dos exitosas campañas de “crowdfunding” y, ahora, ofrecen un kit con los componentes necesarios para que crees tu propio modelo. ¡Solo te tendrás que ocupar de imprimir y ensamblar! ¡</p>
                    <p class="card-text">
                        <small class="text-muted">www.pi-top.com</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}