venv/
.venv/
env/
.env/
.code
VScode
.VScode
db.sqlite3
.vscode
*.pyc
*.pyo
*.DS_Store
*.db
.idea
.env
.ropeproject/
.vscode
db.sqlite*
.history
node_modules/*
webpack-stats.dev.json
static/bundles
generated
commands/run.sh